/* =========================
   CODE BLOCK BASE
========================= */
pre[class*='language-'] {
  color: #E2E2E2;
  background: #2B2B2B;
  padding: 1rem;
  border-radius: 12px;
  overflow-x: auto;
}

/* =========================
   SYNTAX HIGHLIGHTING
========================= */
.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: #306B8C;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #FFFFFF;
}

.token.module {
  color: #003F6B;
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: #E2E2E2;
}

.token.punctuation,
.token.attr-equals {
  color: #666666;
}

.token.unit,
.language-css .token.function {
  color: #306B8C;
}

.token.comment,
.token.operator,
.token.combinator {
  color: #666666;
  font-style: italic;
}