HOST=0.0.0.0
PORT=1337
APP_KEYS="thM2Yqcuh6UkOc0pd8IzRzQB76dyzUnH/z50bu9NBG8=,ImOkx9y3tg8ajoiYL9cAY9JVRuFtJfOinctyfVKFCM8=, jskwtOgAwXs97NH6q4n4earJAqizt0szEyEJSoELLi4=, rjNzZKx6cQjP5SREIPCio1fXhgQbwhh/p+a5w0mZKUs="
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=znqgWLyAqCvl3LaxZKg0F86beQVPts4FL4r+536KVuA=