HOST=0.0.0.0
PORT=1337
APP_KEYS="tobemodified1,tobemodified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=5Wn7kP04dNINXSPFJBt1vA9MI5VOesrK/5XTtkoIfsg=